In [1]:
import pandas as pd 
import numpy as np

## A Multiply Indexed Series

In [9]:
index = [('California', 2000), ('California', 2010),
            ('New York', 2000), ('New York', 2010),
            ('Texas', 2000), ('Texas', 2010)]
populations = [33871648, 37253956,
                18976457, 19378102,
                20851820, 25145561]

In [10]:
pop = pd.Series(populations, index=index)
pop

(California, 2000)    33871648
(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
(Texas, 2010)         25145561
dtype: int64

In [11]:
index = pd.MultiIndex.from_tuples(index)
index

MultiIndex([('California', 2000),
            ('California', 2010),
            (  'New York', 2000),
            (  'New York', 2010),
            (     'Texas', 2000),
            (     'Texas', 2010)],
           )

In [12]:
pop = pop.reindex(index)
pop

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [13]:
pop[:, 2010]

California    37253956
New York      19378102
Texas         25145561
dtype: int64

In [15]:
pop_df = pop.unstack()
pop_df

                2000      2010
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

In [16]:
pop_df.stack()

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [19]:
pop_df = pd.DataFrame({'total': pop,
                        'under18': [9267089, 9284094,
                                    4687374, 4318033,
                                    5906301, 6879014]})
pop_df

                    total  under18
California 2000  33871648  9267089
           2010  37253956  9284094
New York   2000  18976457  4687374
           2010  19378102  4318033
Texas      2000  20851820  5906301
           2010  25145561  6879014

In [21]:
f_u18 = pop_df['under18'] / pop_df['total']
f_u18

California  2000    0.273594
            2010    0.249211
New York    2000    0.247010
            2010    0.222831
Texas       2000    0.283251
            2010    0.273568
dtype: float64

In [22]:
f_u18.unstack()

                2000      2010
California  0.273594  0.249211
New York    0.247010  0.222831
Texas       0.283251  0.273568

## Methods of MultiIndex Creation

In [23]:
df = pd.DataFrame(np.random.rand(4, 2),
                    index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                    columns=['data1', 'data2'])
df

        data1     data2
a 1  0.191089  0.980167
  2  0.325189  0.974223
b 1  0.015475  0.859414
  2  0.161488  0.615543

In [24]:
data = {('California', 2000): 33871648,
        ('California', 2010): 37253956,
        ('Texas', 2000): 20851820,
        ('Texas', 2010): 25145561,
        ('New York', 2000): 18976457,
        ('New York', 2010): 19378102}
pd.Series(data)

California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
New York    2000    18976457
            2010    19378102
dtype: int64

In [28]:
# these 3 are the same
pd.MultiIndex.from_arrays([['a', 'a', 'b', 'b'], [1, 2, 1, 2]])
pd.MultiIndex.from_tuples([('a', 1), ('a', 2), ('b', 1), ('b', 2)])
pd.MultiIndex.from_product([['a', 'b'], [1, 2]])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [29]:
pop.index.names = ['state', 'year']
pop

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

### MultiIndex for columns

In [34]:
# hierarchical indices and columns
index = pd.MultiIndex.from_product([[2013, 2014], [1, 2]],
                                    names=['year', 'visit'])
columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'], ['HR', 'Temp']],
                                        names=['subject', 'type'])

# mock some data
data = np.round(np.random.randn(4, 6), 1)
data[:, ::2] *= 10
data += 37

# create the DataFrame
health_data = pd.DataFrame(data, index=index, columns=columns)
health_data

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      25.0  35.0  46.0  37.3  40.0  36.4
     2      40.0  36.0  56.0  36.8  54.0  36.0
2014 1      40.0  36.3  36.0  38.2  54.0  36.7
     2      32.0  37.2  55.0  37.2  26.0  38.4

In [35]:
health_data['Guido']

type          HR  Temp
year visit
2013 1      46.0  37.3
     2      56.0  36.8
2014 1      36.0  38.2
     2      55.0  37.2

## Indexing and Slicing a MultiIndex

In [36]:
pop

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [37]:
pop['California', 2000]

33871648

In [38]:
pop['California']

year
2000    33871648
2010    37253956
dtype: int64

In [39]:
pop.loc['California':'New York']

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
dtype: int64

In [40]:
pop[:, 2000]

state
California    33871648
New York      18976457
Texas         20851820
dtype: int64

In [41]:
pop[pop > 22000000]

state       year
California  2000    33871648
            2010    37253956
Texas       2010    25145561
dtype: int64

In [42]:
pop[['California', 'Texas']]

state       year
California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
dtype: int64

In [43]:
health_data

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      25.0  35.0  46.0  37.3  40.0  36.4
     2      40.0  36.0  56.0  36.8  54.0  36.0
2014 1      40.0  36.3  36.0  38.2  54.0  36.7
     2      32.0  37.2  55.0  37.2  26.0  38.4

In [44]:
health_data['Guido', 'HR']

year  visit
2013  1        46.0
      2        56.0
2014  1        36.0
      2        55.0
Name: (Guido, HR), dtype: float64

In [47]:
health_data.iloc[:3, :3]

subject      Bob       Guido
type          HR  Temp    HR
year visit
2013 1      25.0  35.0  46.0
     2      40.0  36.0  56.0
2014 1      40.0  36.3  36.0

In [48]:
health_data.loc[:, ('Bob', 'HR')]

year  visit
2013  1        25.0
      2        40.0
2014  1        40.0
      2        32.0
Name: (Bob, HR), dtype: float64

In [49]:
health_data.loc[(:, 1), (:, 'HR')]

SyntaxError: invalid syntax (<ipython-input-49-fb34fa30ac09>, line 1)

In [51]:
idx = pd.IndexSlice
health_data.loc[idx[:, 1], idx[:, 'HR']]

<pandas.core.indexing._IndexSlice object at 0x7fb6ca70b198>

subject      Bob Guido   Sue
type          HR    HR    HR
year visit
2013 1      25.0  46.0  40.0
2014 1      40.0  36.0  54.0

## Rearranging Multi-Indices